.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

a {
  color: variables.$text;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 8px;
  transition: variables.$transition;

  &:hover {
    background: variables.$primary;
  }

  &.active {
    background: variables.$primary;
    color: wheat;
  }
}
