@use '../../styles/base/variables';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  .navbar__links {
    display: flex;
    gap: 20px;

    a {
      color: var(--text);
      text-decoration: none;
      transition: var(--transition);

      &:hover {
        color: var(--primary);
      }
    }
  }
}

.navbar button {
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 20px;
  cursor: pointer;

  &:hover {
    background: var(--surface)-hover;
  }
}
