@use 'base/variables';
@use 'base/reset';

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, sans-serif;
  background: variables.$background;
  color: variables.$text;
}

button,
input {
  font-family: inherit;
}
