.ticket-card {
  background: #1f2937;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 15px;
  text-decoration: none;

  h2 {
    margin-top: 0px;
    text-decoration: none;
  }
}

.priority {
  padding: 6px 12px;
  border-radius: 999px;
  font-weight: bold;

  &.low {
    background-color: #10b981; /* Green */
  }

  &.medium {
    background-color: #f59e0b; /* Yellow */
  }

  &.high {
    background-color: #ef7544; /* Red */
  }

  &.critical {
    background-color: #b91c1c; /* Dark Red */
  }
}
